/* Definicao de estilos somente para não admin do sistema*/

.classes_codes { display: none; } /* [GRLADS01C1-N2-L1] -  */

.blocos_codes { display: none; }

.disciplina_codes { display: none; } /*[17GRLADS01BFE101]*/

.periodo_codes { display: none; } /*[16E3-16E4] [17E1_1]*/
