/* RESET */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Headigns */

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* Text */

p {
  font-size: 17px;
  line-height: 1.88235;
  font-weight: 400;
}

a {
  color: #03b4d1;
}

.pl-hl {
  font-size: 21px;
  border: 1px solid #ececec;
  padding: 20px 20px 20px 40px;
}
.pl-hl:before{
  content: '';
  height: calc(100px + 20px);
  width: 20px;
  display: in;
  position: absolute;
  background-color: #2196F3;
  margin: -21px 0 0 -40px;
}
.mark, mark {
  padding: .2em;
  background-color: #2196F3;
  border-radius: 3px;
  color: #ffffff;
}
/* Referencias e Legendas */
small{
  display: -webkit-box;
  color: #aaa;
  padding: 0px 20px 0px 0px;
  line-height: 1.4em;
  font-size: 0.75em;
}

/* Infobox */
.pl-infobox{
  display: -webkit-box;
  color: #aaa;
  padding: 0px 20px 0px 0px;
  line-height: 1.4em;
  font-size: 0.75em;
}
.pl-infobox:before{
  content: "\f129";
  font-family: FontAwesome;
  float: left;
  display: block;
  position: relative;
  font-size: .8em;
  color: #ffffff;
  width: 16px;
  height: 16px;
  text-align: center;
  margin: 0px 8px 0px 0px;
  background-color: rgba(0,0,0,.8);
  border-radius: 100%;
  padding: 0px 0px 0px 0px;
}
/* Alinhamentos */
.pl-text-left{
  text-align: left;
}
.pl-text-center{
  text-align: center;
}
.pl-text-right{
  text-align:right;
}
.pl-text-justify{
  text-align: justify;
}
.pl-text-nowrap{
  white-space: nowrap;
}
/* Variação de Texto */
.pl-text-low{
  text-transform: lowercase;
}
.pl-text-upp{
  text-transform: uppercase;
}
.pl-text-cap{
  text-transform: capitalize;
}
/* Citacao */
blockquote{
  padding: 10px 20px;
  background-color: #ececec;
  border-radius: 3px;
}
blockquote p{
  line-height: 1.3em;
}
blockquote footer{
  font-size: 50%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
blockquote footer:before{
  content: "\f068";
  font-family: FontAwesome;
  float: left;
  display: block;
  position: relative;
  font-size: 1.2em;
  color: #333333;
  width: 30px;
  padding: 0px;
  text-align: center;
  margin: 0px;
}
blockquote:after{
  content: "\f10e";
  font-family: FontAwesome;
  display: block;
  position: relative;
  font-size: 1.5em;
  color: #333333;
  background-color: #fff;
  width: 45px;
  height: 45px;
  padding: 12px 10px 5px;
  text-align: center;
  border-radius: 100%;
  margin: 20px auto -30px;
  box-shadow: 0px 0px 10px #ddd;
}
/* Lista Simples*/
ul{
}
li{
  margin: 5px 0px;
}

/* Descritiva */
dt{
  font-size: .8em;
  font-weight: 600;
  margin: 10px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ececec;
  padding: 5px;
  display: inline-block;
}

dd{
  font-size:.8em;
  color: grey;
  line-height: 1.2em;
}
dd:before{
  content: "\f0da";
  font-family: FontAwesome;
  float: left;
  display: block;
  position: relative;
  font-size: 1em;
  color: rgba(0,0,0,.2);
  width: 30px;
  padding: 0px;
  text-align: center;
  margin: 0px 0px 0px -30px;
}
/* Destaque Tabela */
.pl-table-destaque{
  background-color: #0058FF;
  color: #ffffff;
}
/* Inline code */
code{
  padding: 2px 4px;
  font-size: 90%;
  color: #f0e68c;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
/* Tables */
.pl-table {
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
  margin-bottom: 16px;
}

.pl-table caption{
  text-align: left;
  margin-bottom: 16px;
  font-size: 24px;
}
.pl-table caption:before{
  content: "\f0da";
  font-family: FontAwesome;
  float: left;
  display: block;
  position: relative;
  font-size: .8em;
  color: rgba(0,0,0,.2);
  width: 30px;
  padding: 0px;
  text-align: center;
  margin: 7px 0px 0px 0px;
}
.pl-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.pl-table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.pl-table thead th {
  vertical-align: bottom;
}

.pl-table th {
  text-align: left;
}

.pl-table td,
.pl-table th {
  padding: 8px 8px;
  border: 1px solid #e5e5e5;
}

.pl-table-striped tbody tr:nth-of-type(odd) {
  background: #fafafa
}

/* CODE */

pre {
  /*padding-top: 20px !important;*/
  margin: 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  font: 12px/18px Consolas,monospace,serif;
  -moz-tab-size: 2;
  tab-size: 2;
  overflow: auto;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

/* IMAGENS */

.pl-img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Vídeos */

.yt-video {

}

.video-text {
  margin-bottom: 0;
  padding: 16px;
  background: #fafafa;
  color: rgba(0,0,0,0.56);
}

.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footnote */
a[rev=footnote], sup a {
  color: #03b4d1;
  border: none;
}

sup a[rel="footnote"] {
  padding: 0 1px;
}

.footnotes {
  font-size: 16px;
  line-height: 1.6em;
}

.footnotes p {
  display: inline;
}

.footnotes hr {
  border: none;
  height: 1px;
  background: #dadada;
}

.footnoteContent {
  background: #000;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  display: none;
  padding: 0 20px 20px 20px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
}

.footnoteContent code {
  background: none;
  border: none;
  padding: 0;
}

.footnoteContent a {
  color: #fff;
}

.closeFootnote {
  text-align: right;
  display: block;
  border-bottom: 1px solid #333;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.js div.footnotes {
  display: none;
}

/* FluidBox*/

.fluidbox-closed {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.fluidbox-opened {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

/* Lista de links */
.pl-link{
  text-decoration: none;
}
.pl-link div{
width: 100%;
height: auto;
position: relative;
padding: 10px;
background-color: #fafafa;
border-radius: 3px;
margin: 5px;
border-left: 30px solid #ececec;
}

.pl-link div p {
  display: block;
  font-size: .8em;
  letter-spacing: 1px;
  font-weight:700;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  color:#666666;
}

.pl-link div:before {
  content: "\f0c1";
  font-family: FontAwesome;
  float: left;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 1.2em;
  color: rgba(0,0,0,.2);
  width: 20px;
  height: 20px;
  padding: 0px;
  text-align: center;
  margin: -10px 10px 0px -25px;
}

.pl-link div span {
  font-size: .8em;
  display: block;
  color:#acacac;
}